body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}
.container-fluid
{   margin-top: 65px;
	width: 100%;
	height: 100%;
}
.leftpane {
    width: 50%;
    height: 100%;
    float: left;
    background:url('../images/background.png');
    border-collapse: collapse;
}

.rightpane {
  width: 50%;
  height: 100%;
  position: relative;
  float: right;
  background:none;
  border-collapse: collapse;
}

.brand
{ 
  background: #42678E;
  text-align: center;
}
table
{
  margin-top: 10px;
}
ul li
{
  display: inline-block;
}
th,td
{
  text-align: center;
}

.pad
{
  padding-top: 20px;
}
